

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$font-family-sans-serif-2: 'Roboto', sans-serif;
$font-family-serif: 'Source Serif Pro', serif;
$font-family-sans-serif: 'Roboto', sans-serif;



body {
	font-family: $font-family-sans-serif;
	background-color: #fff;
}
p {
	color: darken(#ccc, 10%);
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-sans-serif;
}
a {
	transition: .3s all ease;
	&:hover {
		text-decoration: none!important;
	}
}
.content {
	padding: 7rem 0;
}
h2 {
	font-size: 20px;
}

.half {
	&, & .container > .row {
		height: 100vh;
		min-height: 700px;
	}

	.bg {
		// height: 200px;
		@include media-breakpoint-down(md) {
			// height: 200px;
		}
	}
	.contents {
		background: #f6f7fc;
	}
	.bg {
		width: 25%;
		@include media-breakpoint-down(sm) {
			width: 100%;
			height: 200px;
		}
	}
	.contents {
		width: 75%;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	.contents, .bg {

		// @include media-breakpoint-down(sm) {
		// 	width: 100%;
		// }
		.form-control {
			border: none;
			border-radius: 4px;
			height: 54px;
			background: #efefef;
			&:active, &:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
	.bg {
		background-size: cover;
		background-position: center;
	}
	a {
		color: #888;
		text-decoration: underline;
	}
	.btn {
		// height: 54px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.forgot-pass {
		position: relative;
		top: 2px;
		font-size: 14px;
	}
}
.form-block {
	background: $white;
	padding: 40px;
	max-width: 500px;
	box-shadow: 0 15px 30px 0 rgba($black, .2);
	@include media-breakpoint-down(sm) {
		padding:25px;
	}
}


.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  .caption {
  	position: relative;
  	top: .2rem;
  	color: #888;
  }
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: $primary;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: lighten($primary, 5%);
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none;
}
.control__indicator:after {
	font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  transition: .3s all ease;
}
.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}
.control--checkbox .control__indicator:after {
	top: 50%;
	left: 50%;
	margin-top: -1px;
	transform: translate(-50%, -50%);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2;
}

// Login with social
.btn {
	text-decoration: none!important;
	&.btn-facebook {
		display: block;
		background: #3b5998;
		color: $white;
	}
	&.btn-google {
		background: #ea4335;
		color: $white;
	}
}

/*-------------------------------------------------------------------
  ===== Table of Contents =====

  * Bootstrap functions
  * Template variables
  * SCSS Compass Functions
  * Boostrap Main SCSS
  * Template mixins
    + Animation Mixins
    + Background Mixins
    + Badge Mixins
    + Button Mixins
    + Miscellaneous Mixins
    + BlockQuote Mixins
    + Cards Mixins
    + Color Functions Mixins
    + Tooltips
    + popovers
  * Core Styles
    + Reset Styles
    + Fonts
    + Functions
    + Backgrounds
    + Typography
    + Miscellaneous
    + Footer
    + Layouts
    + Utilities
    + Demo styles
  * Components
    + Badges
    + Boostrap Progress
    + Buttons
    + Breadcrumbs
    + Cards
    + Checkboxes and Radios
    + Dropdowns
    + Forms
    + Icons
    + Preview
    + Tables
    + Todo List
  * Landing screens
    + Auth
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/
/* === Import Bootstrap functions and variables === */
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

/*-------------------------------------------------------------------*/
/* === Import template variables === */
@import './variables';

/*-------------------------------------------------------------------*/
/* === SCSS Compass Functions === */
@import "../../node_modules/compass-mixins/lib/compass";
@import "../../node_modules/compass-mixins/lib/animate";

/*-------------------------------------------------------------------*/
/* === Boostrap Main SCSS === */
@import "../../node_modules/bootstrap/scss/bootstrap";

/*-------------------------------------------------------------------*/
/* === Template mixins === */
@import "./mixins/misc";
@import "./mixins/animation";
@import "./mixins/background";
@import "./mixins/badges";
@import "./mixins/blockqoute";
@import "./mixins/buttons";
@import "./mixins/breadcrumbs";
@import "./mixins/cards";
@import "./mixins/pagination";
@import "./mixins/popovers";
@import "./mixins/tooltips";
@import "./mixins/text";

/*-------------------------------------------------------------------*/
/* === Core Styles === */
@import "./reset";
@import "./fonts";
@import "./functions";
@import "./typography";
@import "./misc";
@import "./footer";
@import "./utilities";
@import "./demo";
@import "./dashboard";

/*-------------------------------------------------------------------*/
/* === Components === */
@import "./components/badges";
@import "./components/bootstrap-progress";
@import "./components/buttons";
@import "./components/breadcrumbs";
@import "./components/cards";
@import "./components/checkbox-radio";
@import "./components/dropdown";
@import "./components/forms";
@import "./components/icons";
@import "./components/lists";
@import "./components/preview";
@import "./components/tables";
@import "./components/todo-list";

/*-------------------------------------------------------------------*/
/* === Landing screens === */
@import "./landing-screens/auth";


@import './navbar';
@import './sidebar';
@import './layouts';
@import './vertical-wrapper';
